
.BooksUL {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.BookLI {
    width: 12em;
    height: 30em;
    margin: 2em;
    border-width: .5em;
    border-style: solid;
    border-color: aquamarine;
    padding: 1em;
}

.bookImg {
    width: 100%;
}

.title {
    font-size:larger;
    text-align: center;
}

.author {
    font-size: larger;
    text-align: center;
}