body {
    background-color: #a5612ab0;
    background-image: url("../images/news.jpeg");
}

h1 {
    text-align: center;
}
.newslist li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.newslist img {
    align-content: center;
    width: 200px;
    height: 200px;
}

.container li{
    margin: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: max-content;
    text-align: center;
    width: 85%;
}

.container {
    display: flex;
    flex-direction: column;
   
}


#newsUL li {
    text-align: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.news {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
