body {
    background-image: url("../images/news.jpeg");
}

h1 {
    background-color: rgb(0, 204, 255);
    text-align: center;
}
.newslist  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.newslist img {
    width: 200px;
    height: 200px;
}

.container {
    margin: auto;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 85%;
}

#newsUL {
    text-align: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 700px;
    margin: auto
}


.news {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
