<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Trip App</title>
</head>
    <body>
    
        <h1>Trips</h1>
        <form action="trips">
            <input type="text" id ="tripTitle" placeholder="Trip Name">
            <input type="text" id ="tripImage" placeholder="Trip Image">
            <input type="text" id ="tripDOD" placeholder="Date of Departure">
            <input type="text" id ="tripDOR" placeholder="Date of Return">
            <button type="button" class="btn btn-outline-info" id="addTrip">ENTER</button>
        </form>
        <ul id="tripsUL">
        {{#allTrips}}
            <li>{{tripTitle}} - <img src = "{{tripImage}}" /> - {{tripDOD}} - {{tripDOR}}</li>
            </ul>
        {{/allTrips}}


    </body>
</html>
